<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta content="中集速运、中集速运" name="keywords">
    <meta content="中集速运、中集速运" name="description">
    <meta content="Li Zhen Ya Team" name="author">
    <title>中集速运-用户首页</title>
    <link type="text/css" rel="stylesheet" href="theme/css/core.css">
    <link type="text/css" rel="stylesheet" href="theme/css/home.css">
    <link type="text/css" rel="stylesheet" href="theme/css/Mycss.css">
    <script type="text/javascript" src="theme/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="theme/js/jquerysession.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.tabPanel ul li').click(function () {
                $(this).addClass('hit').siblings().removeClass('hit');
                $('.panes>div:eq(' + $(this).index() + ')').show().siblings().hide();
            })
        })
    </script>

</head>

<body>

<header id="lzy-header" style="width:100%">
    <div style="margin:20px;">
        <div style="margin-left:150px;margin-top:30px;">
            <h1>
                <a href="welcome.html"><img src="theme/img/logo/logo1.png" title="" about="" name=""></a>
            </h1>
        </div>
    </div>
</header>

<div class="header">
    <div class="nav">
        <div class="drop-down clearfix">
            <ul>
                <li><a href="#user-index.html">----</a></li>
                <li><a href="#user-index.html">----</a></li>
                <li><a href="#user-index.html">----</a></li>
                <li><a href="getExpressSheetList.html">获取运单</a></li>
                <li><a href="deleteCustomerInfo.html">用户注销</a></li>
                <li><a href="#resignNet.html">----</a></li>
                <li><a href="#resignNet.html">----</a></li>
                <li><a href="register.html">工作人员注册</a></li>
                <li><a href="#">----</a></li>
                <li><a href="#" id="logout">退出登陆</a>
                <li><a href="#">关于我们</a>
                    <ul>
                        <li>
                            <a href="#">企业文化</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<br>

<section id="user-index">
    <div class="user-content">
        <div class="user-middle">
            <div class="user-boxes  clearfix">
                <div class="fl user-boxes-fl">
                    <div class="fl user-portrait-br"><img src="theme/img/user/u-portrait.png" width="134" height="134">
                    </div>
                    <div class="fl user-portrait-ti">
                        <h2 id="adminName">欢迎，....</h2>
                        <p>用户类型：<span>管理员</span></p>
                        <p>用户标识：<span>CJY</span></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="user-boxes-bk">
            <div class="user-boxes-ma">
                <div class="user-notice"><h3>网站公告</h3></div>
                <div class="user-present">
                    <ul>
                        <li>
                            填写包裹信息前，请先将包裹打包、称重，并按照实重填写。从03.02.14开始由于DHL计重规则的调整，DHL开始对超重执行0容忍，大于0.001kg则按下一个重量级计价。为了包裹能快速出库，推荐大家买单时多预估点包装耗材以及预留0.1kg的国际单的重量。
                        </li>
                        <li>超重的包裹需按4欧/公斤补款后才能出库。补款连接：http://item.taobao.com/item.htm?id=38631607995(PS:
                            易欧洲推出了每走20个包裹可以自动减免1公斤的超重补款，具体细则请看公告：易欧洲-积分升重细则）
                        </li>
                        <li>订单一旦点击提交，则无法自行更改；若有错误</li>

                    </ul>
                </div>
            </div>
            <div class="user-boxes-ma">
                <div class="user-notice user-notice-cl"><h3>系统说明</h3></div>
                <div class="user-present">
                    <ul>
                        <li>
                            填写包裹信息前，请先将包裹打包、称重，并按照实重填写。从03.02.14开始由于DHL计重规则的调整，DHL开始对超重执行0容忍，大于0.001kg则按下一个重量级计价。为了包裹能快速出库，推荐大家买单时多预估点包装耗材以及预留0.1kg的国际单的重量。
                        </li>
                        <li>超重的包裹需按4欧/公斤补款后才能出库。补款连接：http://item.taobao.com/item.htm?id=38631607995(PS:
                            易欧洲推出了每走20个包裹可以自动减免1公斤的超重补款，具体细则请看公告：易欧洲-积分升重细则）
                        </li>
                        <li>订单一旦点击提交，则无法自行更改；若有错误</li>

                    </ul>
                </div>
            </div>
            <div style="height:65px;"></div>
            <div style="height:65px;"></div>
        </div>
        <div style="height:65px;"></div>
    </div>
</section>
<el-button id="button" v-model="buttontwo" v-if="getfather != 1" style="float:right;margin-rgiht:20px;" type="info">打印
</el-button>

<footer>
    <div class="lzy-adaption">
        <div class="lzy-copyright">
            <p>Copyright © 2019 anli-2. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script>
    $(function () {
        //模拟人工自动点击隐藏按钮，然后出发时间刷新页面信息。
        $("#button").click(function () {
            if ($.session.get("admin") == null) {
                alert("对不起你没有权限访问该页面！！！");
                window.location.href = "welcom.html"
            } else {
                $("#adminName").html($.session.get("admin"));
            }
        });
        $("#button").trigger("click");
        $("#logout").click(function () {
            $.session.clear();
            window.location.href = "welcom.html"
        });

    });

</script>
</body>
</html>